<div class="mt-4">
    <div class=''>
        <div class="card">
            <div class="card-body">
                
                <h4 class="titulo"> LISTA DE EMPLEADOS</h4>
                   
                <form class=" col-lg-8" [formGroup]="form" (ngSubmit)='search()'>
                    <div class="input-group mb-3 col-lg-8">
                        <span class="icon-big material-icons-round input-group-text">
                            person_search
                        </span>
                        <input id="input_id" formControlName="text" maxlength="10" type="text" class="form-control" 
                            placeholder="Documento de Identificación" autocomplete="off" (onchange)="search()">
                            <button class="btn-lg btn-primary" type="submit" >Buscar </button>  
                    </div>  
                </form>
                <div class="table-responsive" >
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Identificación</th>
                                <th scope="col">Cargo</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = 'let worker of _worker_service.list; let i = index'>
                                <ng-container *ngIf="worker.docId.startsWith(this.text)">
                                    <td>{{  worker.name}}</td>
                                    <td> {{ worker.lastName}}</td>
                                    <td> {{ worker.docId}}</td>
                                    <td>{{  worker.job}}</td>
                                    <td class='td-btn flex-column'>
                                        <span (click)='edit_worker(_worker_service.list[i])' class="btn material-icons-round text-info">
                                            edit_note
                                            </span>
                                    </td>
                                    <td class='td-btn'>
                                        <span (click)="delete_worker(_worker_service.list[i])" class="btn material-icons-round text-danger">
                                            delete_forever
                                        </span>
                                    </td>
                                </ng-container> 
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
